<!DOCTYPE html>
<html>
    <font face ="monospace" color="white"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    {{template "navbar" .}}
    <br>
    <br>
    <div class="row">
        <h1>{{.Title}}</h1>
        <p>Feed is updated with any new releases at 12:30am UTC and 11:30pm UTC each day</p>
        <p>Releases older than two weeks are erased at 12:00pm UTC each day.</p>
        <p>To update Feed, refresh page.</p>
    </div>
    <h2>New Releases</h2>
    {{range .Albums}}
        {{template "album" .}}
        <br>
        <br>
        <br>
        <br>
    {{end}}

</body>
</html>